@font-face {
    font-family: Jujutsu;
    src: url(./fonts/Jujutsu.ttf);
}

p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-family: Jujutsu;
    padding: 0.5rem 0.1rem 0.5rem 0.1rem;
    border-radius: 10px;
    background-color: aliceblue;
}