.heart{
    margin: 0 !important;
    height: 10rem;
    width: auto;
    /* top: 0;
    right: 0; */
    position: absolute;
    background-image: url('./img/icons/heart.png');
    background-repeat: no-repeat;
    background-size: cover;
}