body{
    margin: 0;
}

.heart{
    height: 2rem;
    width: 2rem;
    position: absolute;
    top: 1rem;
}

#heart1{
    right: 1rem;
}

#heart2{
    right: 4rem;
}

#heart3{
    right: 7rem;
}

#timer{
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#qtyEnemies{
    position: absolute;
    top: 3rem;
    left: 1rem;
}