@font-face {
    font-family: Jujutsu;
    src: url(/fonts/Jujutsu.ttf);
}

@font-face {
    font-family: Inter;
    src: url(/fonts/Inter.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Jujutsu;
    font-size: larger;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    background-image: url(./img/backgroundImage.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100vh;
}

.title {
    padding-top: 10vh;
    color: white;
    font-size: 15vw;
}

.imageBackground {
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 90vh;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 20vh;
    align-items: center;
    padding-bottom: 2rem;
}

.buttonPontuacao {
    background-color: #F27D9D;
    border-radius: 1rem;
    width: 90vw;
    height: 8vh;
    border: 0;
}

.buttonJogar {
    background-color: #FF3D72;
    border-radius: 1rem;
    width: 90vw;
    height: 8vh;
    border: 0;
}

.buttonPontuacao:hover {
    background-color: #dd6b89;
    cursor: pointer;
}

.buttonJogar:hover {
    background-color: #f82960;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

/* -------------------------------------- */

.test {
    animation: glitch 1s linear infinite;
    padding-top: 10vh;
    color: white;
    font-size: 18vw;
}

@keyframes glitch {

    2%,
    64% {
        transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
        transform: translate(-2px, 0) skew(0deg);
    }

    62% {
        transform: translate(0, 0) skew(5deg);
    }
}

test:before,
test:after {
    content: attr(title);
    position: absolute;
    left: 0;
}

test:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {

    2%,
    64% {
        transform: translate(2px, -2px);
    }

    4%,
    60% {
        transform: translate(-2px, 2px);
    }

    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}

test:after {
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {

    2%,
    64% {
        transform: translate(-2px, 0);
    }

    4%,
    60% {
        transform: translate(-2px, 0);
    }

    62% {
        transform: translate(-22px, 5px) skew(21deg);
    }
}